{% extends 'base.html' %}
{% load static compress %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				<!--   SIDEBAR   -->
				<ul class="list-group">
					<a class="list-group-item {% if '/accounts/dashboard/' == request.path %}active{% endif %}" 
						href="{% url 'accounts:dashboard' %}"> Dashboard </a>
					<a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" 
						href="{% url 'accounts:my-orders' %}"> My Orders </a>
					<a class="list-group-item" href="#"> Edit Profile </a>
					<a class="list-group-item" href="#"> Change Password </a>
				</ul>
				<br>
				<!--   SIDEBAR .//END   -->
			</aside>
			<main class="col-md-9">
				<article class="card">
					<header class="card-header">
						<strong class="d-inline-block mr-3">Logged in as:</strong>
						<span>{{ user.full_name|title }}</span>
					</header>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="card" style="text-align:center;">
									<div class="card-body">
										<h5 class="card-title">Total Orders</h5>
										<h4>{{ orders_count }}</h4>
										<a href="{% url 'accounts:my-orders' %}">View Orders</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card" style="text-align:center;">
									<div class="card-body">
										<img src="https://www.w3schools.com/w3images/avatar2.png"
											alt="User Profile Picture" width="50" height="50"
											style="border-radius:50%;">
										<p class="mb-0">tayeb30980@awinceo.com</p>
										<p>123456789</p>
									</div>
								</div>
							</div>
						</div> <!-- row.// -->
					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</main>
		</div> <!-- row.// -->
	</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}